img {

	width:200px;
	height:200px;
	margin-left:55px;
	margin-top:50px;
}

body {

	color:white;
	background-image: url(https://www.planwallpaper.com/static/images/abstract_colorful_textures_widescreen_desktop_background_picture-331.jpg);
}